<div class="filter-container">
  <label for="all">
    <input
      id="all"
      type="radio"
      name="filter"
      value="all"
      [(ngModel)]="selectedFilter"
      (change)="onSelectedFilterOnChange()" />
    {{ "All (" + all + ")" }}
  </label>

  <label for="inStock">
    <input
      id="inStock"
      type="radio"
      name="filter"
      value="true"
      [(ngModel)]="selectedFilter"
      (change)="onSelectedFilterOnChange()" />
    {{ "In Stock (" + inStock + ")"}}
  </label>

  <label for="outOfstock">
    <input
      id="outOfstock"
      type="radio"
      name="filter"
      value="false"
      [(ngModel)]="selectedFilter"
      (change)="onSelectedFilterOnChange()" />
    {{ "OUT OF Stock (" + outOfstock + ")"}}
  </label>
</div>