.ekart--product--container {
  margin: 15px auto;
  padding: 0 12vh;
}

.ekart-featured-products {
  background-color: black;
  padding: 20px 10px;
  display: flex;
}

.ekart-featured-product-heading {
  width: 320px;
  margin: 10px;
  padding: 20px;
  color: #fff;
}