.ekart--search--product {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
}

.ekart-search-product-input {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  background-color: #e3e3fc;
  border: none;
  border-radius: 4px;
}

.btn {
  margin: 0.5em auto;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.btn-search {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #5454ff;
  color: #fff;
}

.btn-search:hover {
  background-color: #1818ff;
}

.btn-search-disabled {
  padding: 12px 30px;
  background-color: #aaa;
  margin-left: -1px;
  color: #999;
  border: #aaa 1px solid;
  cursor: not-allowed;
}

.ekart-search-result-for {
  margin: 20px auto;
  padding: 10px 140px;
}